@use 'font' as font;
@use 'color' as color;

/*  ホバーアニメーション  */
.btn {
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  opacity: .7;
}
.link-btn {
  color: #3b82f6;
  text-decoration: underline;
}
.link-btn:hover {
  color: #1e40af;
}
.merienda {
  @include font.Merienda;
}

tbody tr:hover:not(.toggle_detail tr) {
  background-color: #e2e8f0;
}

tr.toggle_detail table tbody tr:hover {
  background-color: #e2e8f0;
}

/*  ツールチップのデザイン  */
.tippy-box[data-theme~='tippy_main_theme'] {
  background-color: color.$main;
  color: #fff;
}
.tippy-box[data-theme~='tippy_main_theme'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: color.$main;
}
